{% extends "base.html" %}

{% block content %}

        <h1>User Signup</h1>
        <div>
            <form action="/user_signup" method="post">
                <p>
                    <label for="name">Username:</label>
                    <input type="text" id="name" name="username" value='{{username}}'/> {{username_err}}
                </p>

                </p>
                    <label for="email_optional">Email:</label>
                    <input type="text" id="email_optional" name="email_optional" value='{{email_optional}}'/> {{email_optional_err}}
                </p>

                <p>
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" placeholder="Enter password"/> {{password_err}}
                </p>

                <p>
                    <label for="verifypassword">Re-Enter Password:</label>
                    <input type="password" id="verifypassword" name="verifypassword" placeholder="Re-Enter password" value='{{verifypassword}}'/>
                </p>
                <p>
                    <button type="submit" >Sign Up</button>
                </p>
            </form>
        </div>

{% endblock %}}